@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 19px;
	margin: Opx;
}
h1, h2, h3 {
	font-family: 'Arial', serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}
